[project]
name = "tricks"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "colorama>=0.4.6",
]

[dependency-groups]
dev = [
    "colorama>=0.4.6",
]
